nav
            .site-title
                a(href="/")
                    h1 BooksDIr
            if(title === 'Login' || title === 'Signup' || title === 'Home')
                ul
                    li.login-link
                        a(href="/accounts/login") Log in
                    li.signup-link
                        a(href="/accounts/signup") Sign Up
            else
                ul
                    li
                        a(href="/books/viewBooks") Books Available
                    li 
                        a(href="/books/createBook") Add new Books