nav
            .site-title
                a(href="/")
                    h1 BooksDIr
            ul
                li
                    input(type="search", name="", placeholder="Search by Title, Author or genre ")
                li
                    a(href="/books/viewBooks") Books Available
                li 
                    a(href="/books/createBook") Add new Books