extends layout

block content
   
    .registration
        .error
            if (errors)
                each error in errors
                    p #{error}
        form(action="/accounts/login", method="post")
            h2 Sign in
            label Email:
            input(type="text", name="email" )
            label Password:
            input(type="password", name="password")
            button(type="submit") Sign in