extends layout

 
block content
    .sidebar
        .tag-header
            h5  search by GENRE
        .tags
            ul   
                li
                    a(href=`?genre=action`).tag-placeholder Action       
                li
                    a(href=`?genre=adventure`) adventure
                li
                    a(href=`?genre=romance`).tag-placeholder romance
                li
                    a(href=`?genre=bio & history`).tag-placeholder bio & history        
    .container
        .search-bar
            form(action="/books/search", method="post") 
                input(type="text", name="searchInput" placeholder='Search by Author')
                button(type='submit') search
    if (books.length > 0)
        each book in books
            a(href=`/books/viewBooks/${book._id}`)
                    .book
                        .book-image
                            img(src=`/${book.productImage}`, alt="book image here", width=200, height=270)
                        .book-title
                            h5 #{book.title}
                        .book-price
                            h6 $#{book.price}  
    else 
        .book-container
            .empty
                p There are no books to display
    
            