extends layout

block content
    .registration
        form(action="/accounts/login", method="post")
            h2 Sign in
            label Email:
            input(type="text", name="email" )
            .email.error
            label Password:
            input(type="password", name="password")
            .password.error
            button(type="submit") Sign in