extends layout

block content
    .create-blog.content
        form(action="/books/createBook", method="post")
            label Book title:
            input(type="text", name="title" required)
            label ISBN:
            input(type="number", name="isbn")
            label Author:
                i.fa.fa-user-circle-o
            input(type="text", name="author" required)
            label Publish Date:
            input(type="date", name="publishDate" required)
            label Genre:
            select(name="genre" required)
                option(value="") --Select Genre--
                option(value="Action") Action
                option(value="Adventure") Adventure
                option(value="Bio & History") Bio & History
                option(value="Romance") Romance
            label Description:
            textarea( name="description", cols="30", rows="10")                
            label Price:
            input(type="number", name="price" required)
            button(type="submit") Submit