extends layout

block content
    .error
        if (errors.length > 0)
                each error in errors
                li #{errors[i]}
    .registration
        form(action="/accounts/signup", method="post")
            h2 Sign Up
            label Firstname:
            input(type="text", name="firstname" )
            label Lastname:
            input(type="text", name="lastname")
            label Email:
            input(type="text", name="email" )
            label Password:
            input(type="password", name="password" )
            label Gender:
            select(name="gender" required)
                option(value="") --Select Gender--
                option(value="Male") Male
                option(value="Female") Female
            label Country:
            input(type="text", name="country" required)
            button(type="submit") Sign Up