extends layout 
 
block content
    .sidebar
        .tag-header
            h5 GENRE
        .tags
            a(href="#") romance
            a(href="#") adventure
        .tag-submit
        
    .container
        .search-bar
            input(type="text", placeholder='Search by Author')
            button(type='submit') SEARCH
    if (books.length > 0)
        each book in books
            a(href=`/books/viewBooks/${book._id}`)
                .book
                    .book-image
                        img(src="/juja-han-456323-unsplash.jpg", alt="book image here", width=200, height=270)
                    .book-title
                        h5 #{book.title}
                    .book-price
                        h6 $#{book.price}  
    else 
        p There are no books to display
            